<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy>
      <proxy
              usesystemdefault="False"
              bypassonlocal="True"
              proxyaddress="http://127.0.0.1:8888"
              />
    </defaultProxy>
  </system.net>


  <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="MetadataServiceEndpoint" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="2000000" maxConnections="10"
                    maxReceivedMessageSize="2000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8201/DynamicsAx/Services/MetadataService"
                binding="netTcpBinding" bindingConfiguration="MetadataServiceEndpoint"
                contract="AX.AIF.SystemServices.IAxMetadataService" name="MetadataServiceEndpoint">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>